ul {
  list-style-type: none;
}

.transactions {
  grid-column: 1/2;
  grid-row: 2/5;
  margin-left: 30px;
  overflow: auto;
  background-color: #a99cb8;
  height: auto;
  padding: 25px;
}

#nested-list-subheader {
  letter-spacing: 2px;
  font-weight: bold;
  font-style: italic;
  border-bottom: 1px solid #eeeeee;
  color: #eeeeee;
  font-size: 22px;
  margin-bottom: 15px;
}